<style></style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>


<div class="b-data__bg" style="background-image: url('https://samizdat.cz/data/slovaci-v-cesku/media/sp.png');"><span class="b-data__caption"></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Slováci v Česku: mladší a vzdělanější než Češi</strong><br>
		<small>Data o slovenské menšině: kde žijí, čím se živí, co studují a kolik jich vlastně na českých školách je?</small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Jan Boček</a>
	<span class="meta__separator">|</span>
	<time>17. července 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Necelých deset let po rozdělení Československa to vypadalo, že Češi a Slováci se rozešli nejen papírově, ale i fakticky. Na přelomu století žilo v Česku pouhých 24 tisíc Slováků a na Slovensku ani ne sedm tisíc Čechů. Slovenskou menšinu navíc početně rychle přerostla ukrajinská a málem i vietnamská.</p>
<p>Od té doby ovšem Slováků vytrvale přibývá. Loni jich v Česku žilo 107 tisíc a pokud se trend nezmění, nejpozději za rok budou nejsilnější tuzemskou menšinou.</p>
<p></div><div class="row-main row-main--article"><div id="mensiny" style="width:100%; height:600px"></div></div><div class="row-main row-main--narrow"></p>
<p><em>Graf ukazuje cizince, kteří mají v Česku trvalé nebo obvyklé bydliště, zároveň ale mají státní příslušnost jiného státu. Přihlásit se k české nebo slovenské státní příslušnosti sice československé zákony umožnily už v roce 1968, do rozdělení federace v roce 1993 ale měly minimální využití.</em></p>
<p><em>Historii česko-slovenských vztahů lépe ilustruje národnostní nebo jazyková menšina – občané Československa, kteří uvádějí slovenskou národnost nebo mluví slovensky. Česká a slovenská národnost se sleduje od založení Československa, v <a href="https://www.irozhlas.cz/veda-technologie/historie/kviz-vite-kdo-vydelal-na-rozdeleni-ceskoslovenska_1705300850_dp#content">grafickém kvízu</a> proto ukazujeme právě národnost. Ze stejného důvodu ovšem data o národnosti příliš nevypovídají o současném vztahu obou států – řada zejména starších lidí na českém území se hlásí ke slovenské národnosti navzdory tomu, že větší část života strávili v západní částí federace, v roce 1993 si zvolili českou státní příslušnost a je tedy přirozenější považovat je za Čechy.</em></p>
<p>V článku proto používáme data o státní příslušnosti. Pro ilustraci: při posledním českém sčítání obyvatel v roce 2011 zatrhlo</p>
<ul>
<li>82 tisíc lidí (0,8 % obyvatel Česka) slovenské státní občanství,</li>
<li>147 tisíc lidí (1,4 %) slovenskou národnost,</li>
<li>154 tisíc lidí (1,5 %) slovenský mateřský jazyk a</li>
<li>290 tisíc lidí (2,8 %) místo narození na Slovensku.</li>
</ul>
<p>Jsou mezi nimi i ti, kteří v Česku žijí pouze přechodně, například studenti. Poslední sčítání obyvatel se totiž týkalo všech lidí s aktuálním pobytem na území Česka (<a href="https://www.czso.cz/csu/sldb/nejcastejsi-dotazy?p_p_id=sucrrisfaqweb_WAR_faqportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-2&amp;p_p_col_count=3&amp;p_p_col_pos=1&amp;_sucrrisfaqweb_WAR_faqportlet__facesViewIdRender=%2Fviews%2FDetail.xhtml&amp;_sucrrisfaqweb_WAR_faqportlet_faqId=112">definice ČSÚ</a>); dřívější sčítání počítala s trvalým pobytem.</p>
<h2>Mladí muži s mobilními telefony</h2>
<p>Slováci jsou oproti většinovým Čechům mladší (průměrně 33,1 vs. 41 let) a je mezi nimi více mužů (53,7 % vs. českých 49,1 %). Jsou také častěji svobodní (52 % vs. 40 %) a mají vyšší vzdělání (19,7 % vs. 12,5 % vysokoškoláků). Podle <a href="https://www.czso.cz/documents/10180/20540445/170219-14.pdf/1eae07fa-58cc-4ea0-a0b3-4646c1d8a8dc?version=1.0">analýzy ČSÚ</a> data „jednoznačně potvrzují skutečnost, že imigrace občanů Slovenska má pracovní nebo studijní důvody“.</p>
<p>Následující grafy srovnávají slovenskou menšinu v Česku s českou menšinou na Slovensku. Kromě zmíněných demografických rozdílů říkají ještě to, že v roce 2011, kdy v obou zemích proběhlo sčítání obyvatel, byla česká diaspora na Slovensku desetkrát menší.</p>
<p></div><div class="row-main row-main--article"><div id="demosk" style="width:100%; height:400px"></div></div><div class="row-main row-main--narrow">
</div><div class="row-main row-main--article"><div id="democr" style="width:100%; height:400px"></div></div><div class="row-main row-main--narrow"></p>
<h2>Za prací do zdravotnictví a továren na autodíly</h2>
<p>Data ze sčítání obyvatel ukazují, kde Slováci žijí. Velikost kruhu odpovídá jejich počtu, sytost barvy podílu v obci.</p>
<p></div><div class="row-main row-main--article"><img src="https://samizdat.cz/data/slovaci-v-cesku/media/sp.png" width="100%"></div><div class="row-main row-main--narrow"></p>
<h1>Slovenská národnost</h1>
<p>x</p>

</div>
</div><script>var colors=['#FF4136','#0074D9','#B10DC9','#3D9970','#FF851B','#FFDC00','#001F3F','#2ECC40']
var demo=['0-14','15-19','20-29','30-39','40-49','50-59','60-69','70-79','80+'];var uni=[{name:"Janáčkova akademie múzických umění v Brně",y:17.2,muzi:44.7},{name:"Masarykova univerzita",y:16.9,muzi:46.3},{name:"Vysoké učení technické v Brně",y:16.3,muzi:73.5},{name:"Veterinární a farmaceutická univerzita Brno",y:14.4,muzi:15.0},{name:"Mendelova univerzita",y:10.7,muzi:38.0},{name:"Vysoká škola ekonomická v Praze",y:9.3,muzi:42.0},{name:"Vysoká škola umělecko-průmyslová v Praze",y:8.7,muzi:42.9},{name:"Univerzita Karlova",y:7.5,muzi:39.8},{name:"Univerzita Tomáše Bati ve Zlíně",y:6.6,muzi:45.4},{name:"Vysoká škola chemicko-technologická v Praze",y:6.5,muzi:25.6}]
var fak=[{name:"Fakulta informatiky MU",y:49.2,muzi:83.2},{name:"Fakulta informačních technologií VUT",y:31.8,muzi:91.9},{name:"Lékařská fakulta MU",y:26.1,muzi:35.5},{name:"Lékařská fakulta UP",y:25.3,muzi:28.4},{name:"Ekonomicko-správní fakulta MU",y:22.8,muzi:54.1},{name:"Fakulta architektury VUT",y:22.0,muzi:36.1},{name:"Fakulta chemická VUT",y:21.0,muzi:33.2},{name:"Farmaceutická fakulta UK v Hradci Králové",y:20.9,muzi:15.3},{name:"Přírodovědecká fakulta MU",y:20.7,muzi:41.5},{name:"Matematicko-fyzikální fakulta UK",y:20.3,muzi:72.8}]
$(function(){Highcharts.setOptions({lang:{months:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],weekdays:['neděle','pondělí','úterý','středa','čtvrtek','pátek','sobota'],shortMonths:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],thousandsSep:'',decimalPoint:',',rangeSelectorZoom:'Zobrazit'}});$(function(){$('#demosk').highcharts({chart:{type:'bar'},title:{text:'Slováci v Česku, věk a pohlaví'},subtitle:{text:'podle státního občanství, rok 2011'},xAxis:[{categories:demo,reversed:false,labels:{step:1}},{opposite:true,reversed:false,categories:demo,linkedTo:0,labels:{step:1}}],yAxis:{title:{text:null},labels:{formatter:function(){return Math.abs(this.value);}}},exporting:{enabled:false},plotOptions:{series:{stacking:'normal'}},credits:{text:"Zdroj: ČSÚ"},tooltip:{formatter:function(){if(this.series.name=='Muži'){return'<b>'+this.series.name+', '+this.point.category+' let</b><br/>'+Highcharts.numberFormat(Math.abs(this.point.y),0)+' ('+-Math.round(this.y/81984*1000)/10+' % slovenské menšiny v Česku)'}else{return'<b>'+this.series.name+', '+this.point.category+' let</b><br/>'+Highcharts.numberFormat(Math.abs(this.point.y),0)+' ('+Math.round(this.y/81984*1000)/10+' % slovenské menšiny v Česku)'}}},series:[{name:'Muži',data:[-2815,-1169,-13218,-14819,-6705,-3919,-1008,-284,-105],color:colors[1]},{name:'Ženy',data:[2624,1160,14663,12183,3610,2252,695,432,323],color:colors[0]}]});})
$(function(){$('#democr').highcharts({chart:{type:'bar'},title:{text:'Češi na Slovensku, věk a pohlaví'},subtitle:{text:'podle státního občanství, rok 2011'},xAxis:[{categories:demo,reversed:false,labels:{step:1}},{opposite:true,reversed:false,categories:demo,linkedTo:0,labels:{step:1}}],yAxis:{title:{text:null},labels:{formatter:function(){return Math.abs(this.value);}}},exporting:{enabled:false},plotOptions:{series:{stacking:'normal'}},credits:{text:"Zdroj: ŠÚSR"},tooltip:{formatter:function(){if(this.series.name=='Muži'){return'<b>'+this.series.name+', '+this.point.category+' let</b><br/>'+Highcharts.numberFormat(Math.abs(this.point.y),0)+' ('+-Math.round(this.y/7177*1000)/10+' % české menšiny na Slovensku)'}else{return'<b>'+this.series.name+', '+this.point.category+' let</b><br/>'+Highcharts.numberFormat(Math.abs(this.point.y),0)+' ('+Math.round(this.y/7177*1000)/10+' % české menšiny na Slovensku)'}}},series:[{name:'Muži',data:[-312,-91,-347,-653,-610,-609,-525,-283,-86],color:colors[1]},{name:'Ženy',data:[309,127,547,684,516,429,568,324,157],color:colors[0]}]});});$(function(){$('#mensiny').highcharts({chart:{type:'line'},title:{text:'Menšiny v Česku'},subtitle:{text:'podle státního občanství'},xAxis:{title:{text:''},categories:[2001,2004,2008,2012,2016]},yAxis:{title:{text:'',},labels:{format:'{value}'}},tooltip:{formatter:function(){if(this.x==2001){return this.series.name+': '+this.y+' ('+Math.round(this.y/10224*10)/100+' % obyvatel)';}else if(this.x==2004){return this.series.name+': '+this.y+' ('+Math.round(this.y/10207*10)/100+' % obyvatel)';}else if(this.x==2008){return this.series.name+': '+this.y+' ('+Math.round(this.y/10430*10)/100+' % obyvatel)';}else if(this.x==2012){return this.series.name+': '+this.y+' ('+Math.round(this.y/10509*10)/100+' % obyvatel)';}else if(this.x==2016){return this.series.name+': '+this.y+' ('+Math.round(this.y/10578*10)/100+' % obyvatel)';}}},exporting:{enabled:false},credits:{href:'https://vdb.czso.cz/vdbvo2/faces/index.jsf?page=statistiky#katalog=31032',text:'Zdroj: ČSÚ'},plotOptions:{line:{marker:{symbol:"diamond"}}},series:[{name:'Ukrajinci',data:[20628,78263,131921,112549,109850],color:colors[0],},{name:'Slováci',data:[24201,47354,76034,85807,107251],color:colors[1],lineWidth:5},{name:'Vietnamci',data:[18210,34179,60255,57300,58025],color:colors[2],},{name:'Rusové',data:[7696,14747,27086,32961,35759],color:colors[3],},{name:'Němci',data:[3438,5772,17496,17149,21216],color:colors[4],},{name:'Poláci',data:[13350,16265,21710,19235,20305],color:colors[5],}]});})
$(function(){$('#univerzity').highcharts({chart:{type:'column'},title:{text:'Univerzity s nejvíce Slováky'},subtitle:{text:'podle státního občanství, rok 2016'},xAxis:{categories:uni.map(function(value,index){return value['name'];})},yAxis:{labels:{format:'{value} %'},title:{text:'podíl slovenských studentů',},reversedStacks:false},tooltip:{formatter:function(){return'<b>'+this.y+' % slovenských studentů</b>, z toho '+this.point.muzi+' % mužů.'},crosshairs:true},exporting:{enabled:false},credits:{href:'http://krakatau.uiv.cz/statistikyvs/',text:'Zdroj: MŠMT'},plotOptions:{},series:[{name:'univerzity',data:uni,color:colors[1],showInLegend:false}]});})
$(function(){$('#fakulty').highcharts({chart:{type:'column'},title:{text:'Fakulty s nejvíce Slováky'},subtitle:{text:'podle státního občanství, rok 2016'},xAxis:{categories:fak.map(function(value,index){return value['name'];})},yAxis:{labels:{format:'{value} %'},title:{text:'podíl slovenských studentů',},reversedStacks:false},tooltip:{formatter:function(){return'<b>'+this.y+' % slovenských studentů</b>, z toho '+this.point.muzi+' % mužů.'},crosshairs:true},exporting:{enabled:false},credits:{href:'http://krakatau.uiv.cz/statistikyvs/',text:'Zdroj: MŠMT'},plotOptions:{},series:[{name:'fakulty',data:fak,color:colors[0],showInLegend:false}]});})});</script>
